body {
	background: black;
}

* {
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 350px;
	margin: 0px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.postcard-body {
	display: flex;
	align-items: flex-start;
	gap: 10px;
}

.postcard-body p:first-of-type {
	margin-top: 0;
	align-items: flex-start;
	gap: 20px;
}

.body-left {
	font-size: 16px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.body-left p {
	margin: 0 0 10px 0;
}

.body-right input {
	display: block;
	margin: 0 0 10px 0;
}

.body-left,
.body-right {
	padding: 10px;
	flex: 1;
	box-sizing: border-box;
}

.body-left p + p {
	margin-top: 10px;
}

.body-left p {
	font-size: 16px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

input {
	border: 0;
	border-bottom: grey;
}

.body-right form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.body-right input {
	border: none;
	border-bottom: 1px solid grey;
	padding: 0;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.postcard-footer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.postcard-footer button {
	padding: 2px 4px;
	background-color: grey;
	color: rgb(0, 0, 0);
	text-align: center;
	border: none;
	font-size: 14px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	border-radius: 6px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.postcard-footer button:hover {
	background-color: rgb(84, 83, 83);
}

